body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #222222, #ffffff);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.light-mode {
    background-image: linear-gradient(to bottom, #ffffff, #0085FF);
    color: #333;
}


.ios-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide the default checkbox */
.ios-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Style the slider */
.ios-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

/* Style the thumb */
.ios-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

/* Style the slider when the switch is checked */
.ios-switch input:checked + .slider {
    background-color: #4cd964;
}

/* Style the thumb when the switch is checked */
.ios-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
